<form novalidate>
    <mat-form-field appearance="outline">
        <mat-label translate="SEARCH_SECTION_SEARCH_INPUT_LABEL"></mat-label>
        <input type="text" matInput formControlName="searchInput" (keydown.enter)="search()">
        <button type="button" mat-icon-button matSuffix (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <app-sound thumbnail="https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228" title="Better now" artist="Post Malone"></app-sound>
</form>
