@use "@angular/material" as mat;

mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .spacer {
        flex: 1 1 auto;
    }

}

.login-button {
    display: flex;
    align-items: center;
}

mat-sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: 600px) {
        top: 56px;
    }

    mat-sidenav {
        padding: 8px;

        mat-expansion-panel {
            margin-top: auto;
        }
    }

    mat-sidenav-content {
        display: flex;

        @media screen and (max-width: 600px) {
            flex-wrap: wrap;
        }

        app-playlist-section {
            flex: 1 1 25%;
            padding: 8px;

            @media screen and (max-width: 600px) {
                flex: 1 1 100%;
                height: calc(80% - 32px);
            }
        }

        app-player-section {
            flex: 1 1 50%;
            padding: 8px;

            @media screen and (max-width: 600px) {
                flex: 1 1 100%;
                height: calc(20% - 32px);
            }
        }
    }
}
