<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 translate="TITLE"></h1>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="loginOptionsMenu">
        <mat-icon>login</mat-icon>
    </button>
    <mat-menu #loginOptionsMenu="matMenu">
        <button mat-menu-item class="login-button" (click)="authenticate(AuthProvider.Spotify)" [matTooltip]="(user.spotifyConnected ? 'SPOTIFY_LOGOUT' : 'SPOTIFY_LOGIN') | translate" matTooltipPosition="before">
            <mat-icon>{{ user.spotifyConnected ? 'logout' : 'login' }}</mat-icon>
            <img src="/assets/spotify-logo-green.png" alt="Connect with Spotify" width="90">
        </button>
        <button mat-menu-item class="login-button" [matTooltip]="(user.deezerConnected ? 'DEEZER_LOGOUT' : 'DEEZER_LOGIN') | translate" matTooltipPosition="before">
            <mat-icon>{{ user.deezerConnected ? 'logout' : 'login' }}</mat-icon>
            <img src="/assets/deezer-logo.png" alt="Connect with Deezer" width="90">
        </button>
        <button mat-menu-item class="login-button" [matTooltip]="(user.soundCloudConnected ? 'SOUNDCLOUD_LOGOUT' : 'SOUNDCLOUD_LOGIN') | translate" matTooltipPosition="before">
            <img *ngIf="user.soundCloudConnected" src="/assets/soundcloud-disconnect.png" [alt]="'SOUNDCLOUD_LOGOUT' | translate" width="90">
            <img *ngIf="!user.soundCloudConnected" src="/assets/soundcloud-connect.png" [alt]="'SOUNDCLOUD_LOGIN' | translate" width="90">
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="isSidenavOpen">
        <app-search-section></app-search-section>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title translate="PLAY_LATER_SECTION_TITLE">
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-play-later-section></app-play-later-section>
        </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-playlist-section></app-playlist-section>
        <mat-divider vertical></mat-divider>
        <app-player-section></app-player-section>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
