<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 translate="TITLE"></h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="beginAuth(AuthProvider.Spotify)">
        <img src="/assets/spotify-icon.svg" alt="Connect with Spotify" height="25" width="25">
    </button>
    <button mat-icon-button>
        <img src="/assets/deezer-icon.svg" alt="Connect with Deezer" height="25" width="25">
    </button>
    <button mat-icon-button>
        <img src="/assets/soundcloud-icon.png" alt="Connect with SoundCloud" height="25" width="25">
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="isSidenavOpen">
        <app-search-section></app-search-section>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title translate="PLAY_LATER_SECTION_TITLE">
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-play-later-section></app-play-later-section>
        </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-playlist-section></app-playlist-section>
        <mat-divider vertical></mat-divider>
        <app-player-section></app-player-section>
    </mat-sidenav-content>
</mat-sidenav-container>
